*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Ignorar todos los Markdown
*.md

# Excepciones: mantener README.md y otros .md que quieras conservar
!README.md
# Si README hace referencia a docs/INSTALL.md por ejemplo, descomenta la línea siguiente
# !docs/INSTALL.md

# Ignorar la carpeta de la app que indicaste
nutrisystem-app/




